@use '../../basic' as *;

.section_10{
    .container{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        .box{
            max-width: 400px;
            padding: 0 pg(400);
            background-image: url("/pics/flag.webp");
            background-size: auto 100%;
            display: grid;
            gap: pg(400);
            align-content: end;
            text-align: center;
            > div{
                display: grid;
                gap: pg(200);
            }
            p{
                margin: 0;
                font-weight: 500;
            }
            .icons{
                display: flex;
                gap: pg(100);
                justify-content: center;
                align-items: center;
                img{
                    transition: all .3s ease;
                    &:hover{
                        transform: scale(1.1);
                        filter: brightness(120%);
                        cursor: pointer;
                    }
                }
            }
            button{
                text-transform: uppercase;
            }
        }
         .img1{
            max-width: 450px;
            height: auto;
            width: 100%
        }
    }
}
