@use '../basic' as *;
.chance{
    display: flex;
    justify-content: center;
    form{
        flex-shrink: 0;
        max-width: 800px;
        width:100%;
        display: grid;
        gap: pg(200);
    }
    button{
        padding: pg(200) pg(400);
        margin: pg(200);
        margin-top: 0;
        font-size: fs(200);
    }
    .jobs_action{
        width: 100%;
        display: flex;
        // justify-content: center;
        gap: pg(200);
        padding: 0 pg(200);
        a{
            text-decoration: underline;
            cursor: pointer;
            transition: color .1s linear;
            &:hover{
                color: clr(primary, highlight_1);
            }
        }
    }
    input[type="text"], input[type="number"], select{
        border: 1px solid #ccc;
    }
    fieldset{
        padding: pg(200);
        gap: pg(200);
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    legend{
        font-weight: bold;
    }
    fieldset.spouse{
        display: flex;
        flex-wrap: wrap;
        margin: pg(200);
    }
    .container_set{
        display: grid;
        border: none;
        > legend{
            font-size: fs(400);
        }
    }
    .box{
        display: flex;
        flex-direction: column;
        gap: pg(200);
        &:not(.m_0)
        {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .q_box{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: auto;
        gap: pg(200);
        div{
            padding: pg(200);
            display: flex;
            gap: pg(50);
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }
    .info_set{
        min-width: 300px;
        flex-grow: 1;
        display: grid;
        div{
            display: grid;
            gap: pg(50);
        }
    }
}
