@use '../basic' as *;

.dark_bg{
    z-index: 10;
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 150px;
    right: 0;
    transition: opacity .3s linear;
    background: black;

    &.open{
        display: block;
        animation: db_opening .3s linear forwards;
        @include mq(md){
            display: none;
        }
    }
    &.popup_open{
        z-index: 11;
        display: block;
    }
    &.closing{
        display: block;
        animation: db_closing .3s linear forwards;
    }
        @keyframes db_opening{
            from{
                opacity: 0;
            }
            to{
                opacity: .5;
            }
        }
        @keyframes db_closing{
            from{
                opacity: 0.5;
            }
            to{
                opacity: 0;
            }
        }
}

.light_bg{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: hsla(0,0%,100%,1);

    &.open{
        display: block;
        animation: open .3s forwards ease-in;
    }
    &.close{
        display: block;
        animation: close .3s forwards ease-in;
    }
    &.closed{
        display: none;
    }

    @keyframes open{
        0%{
            background: hsla(0,0%,100%,0);
        }
        80%{
            background: hsla(0,0%,100%,1);
        }
        100%{
            background: hsla(0,0%,100%,1);
        }
    }

    @keyframes close{
        100%{
            background: hsla(0,0%,100%,1);
        }
        80%{
            background: hsla(0,0%,100%,0);
        }
        100%{
            background: hsla(0,0%,100%,0);
        }
    }
}
