@using Microsoft.AspNetCore.Components.Web
@namespace Immigration.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    @* <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" /> *@
    @* <meta http-equiv="Pragma" content="no-cache" /> *@
    @* <meta http-equiv="Expires" content="0" /> *@
    <base href="~/" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/pics/site_logo.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <div id="components-reconnect-modal"></div>
    @RenderBody()
    <script autostart="false" src="_framework/blazor.server.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
