@page "/"
<PageTitle>Legal Visa Services - @Localizer["page title"]</PageTitle>


<div class="main_layout @AppState?.MenuClass">
    <div class="left_panel">
        <div class=""><NavMenu/></div>
    </div>
    <div class="right_panel">
        <div class="dark_bg @AppState?.DarkBgClass @_popupOpen"></div>
        <div class="popup @AppState?.PopupClass">
            <div class="container">
                <Request/>
            </div>
        </div>
        <div class="top_panel">
            <span id="home"></span>
            <MenuToggle Collapsed="@_toggle_class"/>
            <ChooseLanguage/>
        </div>
        <div class="body_panel">
            <Header/>
            <div class="nav_menu">
                <NavMenu/>
            </div>
            <Section_1/>
            <Section_2/>
            <Section_3/>
            <Section_4/>
            <Section_5/>
            <Section_6/>
            <Section_7/>
            <Section_8/>
            <Section_9/>
            <Section_10/>
            <Section_11/>
            <Section_12/>
            <Section_13/>
            <Section_14/>
            <Section_15/>
            <Section_16/>
        </div>
            <Footer/>
    </div>
</div>

@code{
    private bool _collapsed = false;
    private string? _toggle_class => AppState.MenuCollapsed ? "open" : null;
    private string? _popupOpen => AppState?.PopupClass != null ? "popup_open" : null;
    private bool firstLoad = true;

    private void Toggle()
    {
        _collapsed = !_collapsed;
    }

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
        firstLoad = true;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(!firstLoad) return;
        firstLoad = false;
        AppState.CloseBg();
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
