<section class="section_17">
    <div class="section_title">
        <h2>@Localizer["s17 t1"]</h2>
    </div>
    <div class="container">
        <input type="text"><button class="btn-2">@Localizer["s17 b1"]</button>
    </div>
</section>
