<section class="section_14">
    <div class="section_title">
        <h2>@Localizer["s14 t1"]</h2>
    </div>
    <div class="container">
        <div>
            <h4>@Localizer["s14 p1.1"]</h4>
            <h4>@Localizer["s14 p1.2"]</h4>
            <button class="btn-2">@Localizer["s14 b1"]</button>
        </div>
        <img src="pics/success.webp">
    </div>
</section>
