<section class="section_15" id="s15">
    <div class="section_title">
        <h2>@Localizer["s15 t1"]</h2>
        <div class="container">
            <a href="https://www.centennialcollege.ca" target="_blank"><img src="pics/school_1.webp"></a>
            <a href="https://www.sheridancollege.ca" target="_blank"><img src="pics/school_2.webp"></a>
            <a href=https://www.georgiancollege.ca"" target="_blank"><img src="pics/school_3.webp"></a>
            <a href=https://durhamcollege.ca"" target="_blank"><img src="pics/school_4.webp"></a>
            <a href="https://cambriancollege.ca" target="_blank"><img src="pics/school_5.webp"></a>
            <a href="https://www.stlawrencecollege.ca" target="_blank"><img src="pics/school_6.webp"></a>
            <a href="https://www.georgebrown.ca" target="_blank"><img src="pics/school_7.webp"></a>
            <a href="https://humber.ca" target="_blank"><img src="pics/school_8.webp"></a>
            <a href="https://studywithoxford.ca" target="_blank"><img src="pics/school_9.webp"></a>
            <a href="https://brocku.ca" target="_blank"><img src="pics/school_10.webp"></a>
            <a href="https://www.brescia.uwo.ca" target="_blank"><img src="pics/school_11.webp"></a>
            <a href="https://www.niagaracollege.ca" target="_blank"><img src="pics/school_12.webp"></a>
            <a href="https://www.stclaircollege.ca" target="_blank"><img src="pics/school_13.webp"></a>
            <a href="https://www.mohawkcollege.ca" target="_blank"><img src="pics/school_14.webp"></a>
        </div>
    </div>
</section>
