<section class="section_15">
    <div class="section_title">
        <h2>@Localizer["s15 t1"]</h2>
        <div class="container">
            <div><img src="pics/school_1.webp"></div>
            <div><img src="pics/school_2.webp"></div>
            <div><img src="pics/school_3.webp"></div>
            <div><img src="pics/school_4.webp"></div>
            <div><img src="pics/school_5.webp"></div>
            <div><img src="pics/school_6.webp"></div>
            <div><img src="pics/school_7.webp"></div>
            <div><img src="pics/school_8.webp"></div>
            <div><img src="pics/school_9.webp"></div>
            <div><img src="pics/school_10.webp"></div>
            <div><img src="pics/school_11.webp"></div>
            <div><img src="pics/school_12.webp"></div>
            <div><img src="pics/school_13.webp"></div>
            <div><img src="pics/school_14.webp"></div>
        </div>
    </div>
</section>
