<section class="section_17">
    <div class="section_title">
        <h2>@Localizer["s17 t1"]</h2>
    </div>
    <div class="container">
        <iframe
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=1%20Bloor%20St,%20M4W%200A8&t=&z=15&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            width="800"
            height="500">
        </iframe>
    </div>
</section>
