@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

@if(cultures != null)
{
    <div class="language">
        <div @onclick="@(()=>RequestCultureChange("en"))" class="@lang_class?["en"]">
            <img src="pics/en_icon.webp">
            <span>En</span>
        </div>
        <div @onclick="@(()=>RequestCultureChange("ru"))" class="@lang_class?["ru"]">
            <img  src="pics/ru_icon.webp">
            <span>Ru</span>
        </div>
    </div>
}

@code{
    private string? selectedCulture = System.Threading.Thread.CurrentThread
        .CurrentCulture.Name;

    private Dictionary<string, string>? cultures;
    private Dictionary<string, string>? lang_class = new();

    protected override void OnInitialized()
    {
        cultures = Configuration.GetSection("Cultures")
            .GetChildren().ToDictionary(x => x.Key, x=> x.Value);

        foreach(var x in cultures)
        {
            var val = x.Key == selectedCulture ? "selected" : "";
            lang_class?.Add(x.Key, val);
        }
    }

    private async void RequestCultureChange(string selectedCulture)
    {
        if(string.IsNullOrWhiteSpace(selectedCulture)) return;

        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);

        var query = $"?culture={Uri.EscapeDataString(selectedCulture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        AppState.OpenBg();
        await Task.Delay(300);
        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }
}
