@model RequestModel

<html>
    <head>
        <style>
            th, td{
                text-align: left;
                padding: .5em 1em;
            }
        </style>
    </head>
    <body>
        <h2>Request For Consultation From Consultation</h2>
    </body>
    <table border="1">
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>@Model.Phone</td>
        </tr>
    </table>
</html>
