@import 'mixins';

$font-base: .8rem;
$padding-base: 1rem;
$scale-font: 1.333;
$scale-padding: 1.333;
$media-scale: 1.05;

$breakpoints: (
    sm: 480px,
    md: 800px,
    bg: 1150px,
);

$colors: (
    primary: (
        bg: hsla(100,100%,100%),
        text: hsla(0,0%,0%),

        menu_bg: hsl(37, 100%, 91%),
        footer: hsla(207,88%,24%),

        warning: hsla(350,100%,50%),
        warning_2: hsla(350,100%,90%),

        box_shadow: hsla(0, 0%, 0%, 0.2),

        highlight_1: hsl(16, 100%, 68%),
        highlight_2: hsl(29, 100%, 85%),
        highlight_3: hsl(0, 0%, 85%),
        highlight_4: hsl(0, 0%, 95%),
        highlight_5: hsl(201, 90%, 29%),

    ),
    btn: (
        btn1_text: hsla(0, 100%, 100%),
        btn1_bg1: hsla(100, 100%, 25%, 1),
        btn1_bg2: hsla(100, 100%, 25%, .1),

        btn2_text: hsla(100,100%,100%),
        btn2_bg: hsla(218,53%,39%),
    ),
    menu_toggle: (
        bg: black,
        strips: white,
    )
);

@import url(
    'https://fonts.googleapis.com/css2?family=Material+Icons&family=Roboto:ital,' +
    'wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    @include base-root;
    margin: 0;
    padding: 0;
}
body{
    font-size: fs(200);
    margin: 0;
    padding: 0;
    background-color: clr(primary, bg);
    color: clr(primary, text);
}
html{
    scroll-behavior: smooth;
}
@for $i from 1 through 6
{
    h#{$i}{
        margin: 0;
        font-size: fs(#{7-$i}00);
    }
}
h4{
    // margin-top: pg(100);
}
a:link, a:visited,  a:hover, a:active{
    color: initial;
    text-decoration: initial;
}
